input::-webkit-input-placeholder { color: white; }
input::-moz-placeholder { color: white; }

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
body{

	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
}
.bg-cloudy{
	background-image: url('../img/main.jpg');
}
.bg-snow{
	background-image: url("../img/snow.jpg");
}
.bg-clear{
	background-image: url("../img/clear.jpg");
}
.bg-rain{
	background-image: url("../img/rain.jpg");
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.window{
	background-color: rgba(255, 255, 255, 0.7);
	width: 40%;
	height: 45%;
	border-radius: 55px;
	position: absolute;
	top: 30%;
	left: 30%;
}
.search{
	background: rgba(0, 0, 0, 0.2);
	width: 86%;
	height: 22%;
	margin: 2vw 3vw;
	border-radius: 55px;
	border: none;
	color: white;
	font-size: 2rem;
	padding: 22px 13px;
	margin-bottom: 25px;

}
.search--box{
	position: relative;
}
.search-btn{
	position: absolute;
	top: 32%;
	left: 83%;
	background-color: white;
	padding: 14px 15px;
	border-radius: 90%;
	float: right;
}
.text__no__permission{
	color: rgba(5, 5, 5, 0.98);
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin-top: 95px;
	display: none;
}
.weather__city{
	color: rgba(0, 0, 0, 0.98);
	font-size: 40px;
	font-weight: 600;
}
.weather__forecast{
	color: rgba(0, 0, 0, 0.98);
	font-size: 50px;
	font-weight: 800;
}
.pd{
	padding-left: 89px;
}
.text__weather{
	color: rgba(0, 0, 0, 0.98);
	font-size: 20px;
	font-weight: 500;
}
.flex{
	display: flex;
	text-align: center;
}
@media (max-width: 1440px) {
	body{
		background-size: auto;
	}
	.search-btn{
		top: 28%;
		left: 82%;
	}
}
@media(max-width: 1024px) {
.flex{
	justify-content: center;
}
	.pd{
		padding-left: 0;
	}
	.search-btn{
		top: 24%;
		left: 74%;
	}
	.window{
		text-align: center;
	}
}
@media (max-width: 768px) {
	.pd{
		padding: 0 10px;
	}
	.search-btn{
		top: 23%;
		left: 83%;
		padding: 10px 11px;
	}
	.window{
		width: 88vw;
		left: 7%;
	}
	.text__weather{
		font-size: 1.2rem;
	}
	.weather__city{
		font-size: 2rem;
	}
	.weather__forecast{
		font-size: 2rem;
	}
}
@media (max-width: 425px) {
	.search-btn{
		top: 19%;
		left: 70%;
	}
}
@media(max-height: 569px) {
.window{
	height: 86%;
	top: 7%;
}
	.user__city {
		margin-top: 21px;
	}
}